---
// Curved Overlay - Opaque stone background with curved bottom edge (like bottom of a ball)
---

<div class="absolute inset-x-0 top-0 w-full h-[200px] overflow-visible pointer-events-none z-50">
  <svg 
    class="w-full h-full absolute bottom-0" 
    viewBox="0 0 1400 200" 
    preserveAspectRatio="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <!-- Opaque stone background - top portion is solid, bottom curves like a ball -->
    <path 
      d="M0,0 L1400,0 L1400,0 Q700,200 0,0 Z" 
      fill="#FAFAF9"
    />
  </svg>
</div>
